@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

body {
  background-image: url('./images/background.jpg');
  /* background-color: black; */
  background-size: 100%;
  font-family: 'Nanum Pen Script', cursive;
}
